Terms and Conditions 
Siana Christian Store provides online and walk-in store 
Pricing Policy:
-	Prices are subject to change without prior notice 
-	Book and gift items are listed and invoiced at a recommended retail selling price. 
Discounts:
-	General Retail: Book/Gifts -   %
-	Churches: Books/ Gifts - %
First-time Resellers and Churches customers:
-	A pro forma account will be opened for our new customers 
-	Kindly note that the minimum order of value for orders is …….. after discounts. 
-	Orders must be paid in advance and the proof of payment, with quotation number as a reference, must be e-mailed to our accounts department. 

Conferences and trade shows:
-	Special offers extended at these events will only apply to orders taken at the event
Payment Terms:
-	100% advance payment for ex-stock products  
-	50% advance payment for goods to be ordered 
-	Proof of payments must be e-mailed to our accounts department. 
Accounts Department:
-	Accounts:
-	Email Address:  
Delivery and Shipping:
-	Freight charges in excess of 5% of the nett invoice value will be charged to the customer’s account on a separate invoice.
Zimbabwe / Zambia 
-	Free freight for orders above $200.00 
-	All orders below $200 shall attract a delivery fee. 
-	Please allow 3 working days from invoicing for delivery to main centers under normal conditions 
Returns: 
-	Returns will not be accepted without prior authorization 
Contact Numbers:
-	Cell phone: 
-	Email address:

Please supply this information to our sales staff when ordering;
1.	Trading name of your company and account number 
2.	Your purchase order number and name as references.
3.	Title or item number and quantity of each product you require. 

