{% extends 'base.html'%}

{% load static  %}

{% block content%}

<div class="card">
    <div class="card-body">
        <h3>Terms and Conditions</h3>

        <h4>Pricing Policy</h4>
        <p>
            - Prices are subject to change without prior notice.<br>
            - Book and gift items are listed and invoiced at a recommended retail selling price.
        </p>

        <h4>Discounts</h4>
        <p>
            - General Retail: Book/Gifts -   %<br>
            - Churches: Books/Gifts -   %
        </p>

        <h4>First-time Resellers and Churches Customers</h4>
        <p>
            - A pro forma account will be opened for our new customers.<br>
            - Kindly note that the minimum order of value for orders is …….. after discounts.<br>
            - Orders must be paid in advance and the proof of payment, with quotation number as a reference, must be e-mailed to our accounts department.
        </p>

        <h4>Conferences and Trade Shows</h4>
        <p>
            - Special offers extended at these events will only apply to orders taken at the event.
        </p>

        <h4>Payment Terms</h4>
        <p>
            - 100% advance payment for ex-stock products.<br>
            - 50% advance payment for goods to be ordered.<br>
            - Proof of payments must be e-mailed to our accounts department.
        </p>

        <h4>Accounts Department</h4>
        <p>
            - Accounts: <br>
            - Email Address:  
        </p>

        <h4>Delivery and Shipping</h4>
        <p>
            - Freight charges in excess of 5% of the net invoice value will be charged to the customer’s account on a separate invoice.<br>
            - Zimbabwe/Zambia: Free freight for orders above $200.00.<br>
            - All orders below $200 shall attract a delivery fee.<br>
            - Please allow 3 working days from invoicing for delivery to main centers under normal conditions.
        </p>

        <h4>Returns</h4>
        <p>
            - Returns will not be accepted without prior authorization.
        </p>

    </div>
</div>





{% endblock %}
