{% extends 'base.html' %}
{% load static  %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    .hero {
        background-image: url("{% static 'img/bible.jpg' %}");
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        padding: 100px 20px;
    }
    .hero h1 {
        margin: 0;
        font-size: 3em;
    }
    .hero p {
        font-size: 1.2em;
        margin-top: 20px;
    }
    .content {
        margin-top: 40px;
    }
    .content h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    .content p {
        margin-bottom: 20px;
    }
    .team-section {
        margin-top: 40px;
    }
    .team-section h2 {
        font-size: 2em;
        margin-bottom: 20px;
        text-align: center;
    }
    .team-profiles {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .profile {
        text-align: center;
        width: 30%;
        margin-bottom: 20px;
    }
    .profile img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .profile h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    .profile p {
        font-size: 1em;
        color: #777;
    }
</style>
<body>
    <div class="hero">
        <h1>About Siana </h1>
        <p>Salvation:The Ultimate Gift</p>
    </div>
    
    <div class="container">
        <div class="content">
            <h2>Our Story</h2>
            <p>Siana Christian store offers a wide range of Christian gifts for everyone and every occasion. It is committed to diligently bringing the best Christian products to the Southern African region at affordable prices. The mission is to continue advancing in this region, ensuring that believers have the necessary resources to grow in their faith and become beacons of God's love and grace.</p>
            
            <p>Our Goal is also to bring many souls to the kingdom of God through our products and services as well as to strengthen relationships through our gifts. </p>
    
            <h2>Our Philosophy</h2>
            <p>At Siana Christian Store, our mission is to enrich everyday lives by providing exceptional products that combine quality, functionality, and timeless design. We offer a diverse range of thoughtfully crafted items tailored to celebrate and inspire every moment. From babies gifts that cherish new beginnings to bibles and study materials that nurture spiritual growth, our collections are designed to resonate with your personal journey.</p>
            
            <p>Enhance your daily practices with our elegant bible covers, and delve deeper into reflection with our curated devotionals and journals. Elevate your style through our sophisticated fashion accessories, or embrace modern convenience with our innovative gadgets. We also present exquisite gift sets perfect for birthdays, Christmas, and expressions of love, ensuring every occasion is memorable. Transform your living spaces with our distinctive home décor pieces, and ignite young minds with our engaging kids’ books. For moments of leisure and inspiration, explore our selection of uplifting movies. At Siana Christian Store, we are dedicated to delivering products that not only meet your needs but also inspire joy and meaningful connections in your everyday life.</p>
        </div>
</body>

    


    






{% endblock %}
