{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div class="container">
    <h1>About Siana Christian Store</h1>
    <p>Siana Christian store offers a wide range of Christian gifts for everyone and every occasion. It is committed to diligently bringing the best Christian products to the Southern African region at affordable prices. The mission is to continue advancing in this region, ensuring that believers have the necessary resources to grow in their faith and become beacons of God's love and grace.</p>
    <p>Our Goal is also to bring many souls to the kingdom of God through our products and services as well as to strengthen relationships through our gifts.</p>

    <h2>Categories</h2>
    <ul>
        <li>Babies Gifts</li>
        <li>Bibles and study materials</li>
        <li>Bible covers</li>
        <li>Devotional and Journals</li>
        <li>Fashion Accessories</li>
        <li>Gadgets</li>
        <li>Gift Sets - Birthday gifts / Christmas gifts / Love gifts</li>
        <li>Home Décor</li>
        <li>Kids’ Books</li>
        <li>Movies</li>
        <li>Mugs, Water Bottle and Kitchenware</li>
    </ul>
</div>
{% endblock %}
